.button {
    background-color: transparent;
    padding: 10px;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid #000000;
    border-radius: 4px;
    color: #000000;
    @media (max-width: 480px) {
        width: 100%;
    }

    &:focus {
        outline: 0;
    }

    &:hover {
        background-color: #000000;
        color: #ffffff;
    }
}