.align-center-for-small { 
	@media (max-width: 480px) { text-align: center; }
}

.vertical-center {
    max-width: 100%;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.row--full { max-width: 100%!important; }