$input-focus-border-color: red;
$glowing-effect-color: red;

// bower:scss
@import "../../bower_components/normalize-scss/_normalize.scss";
@import "../../bower_components/foundation/scss/foundation/_functions.scss";
@import "../../bower_components/foundation/scss/foundation/components/_grid.scss";
@import "../../bower_components/foundation/scss/foundation/components/_block-grid.scss";
@import "../../bower_components/foundation/scss/foundation/components/_visibility.scss";
@import "../../bower_components/foundation/scss/foundation/components/_top-bar.scss";
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

@import "utility";
@import "typography";
@import "buttons";

// Global
.button {
    margin: 25px 0;
    button:hover, button:focus, .button:hover, .button:focus { background: none; }
}

// Typography
h1, h2, h3, h4, h5 { font-family: 'Vollkorn', serif; }
p { font-family: 'Archivo Narrow', sans-serif; }

// Main Content
.main__content { 
    margin-top: 30px; 
    .sub__content {
        margin: 0 15px 30px 15px;        
        padding: 20px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        &__header { 
        margin: 0;
        color: #000000;
        font-size: 35px;
        font-weight: 600;
        text-transform: uppercase;  
        }
    }
}

span { 
    color: white; 
    background: black; 
    padding: 5px; 
}

.products_row { 
    margin: 30px auto;
    @media (max-width: 480px) {
        margin: 0;
    } 
}

.product_grid { 

    img { margin: 0 20px; 
        border-bottom: 1px solid #666666; 
    }
    p { margin: 10px 20px; }
}
// Hero Module
.hero {
    min-height: 215px;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: #FFF;
    text-align: center;
    position: relative;
    font-size: 16px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
    }

    &__message {
        padding: 20px;
        border-radius: 5px;
        position: relative;
        top: 65px;
    }

    &__heading { 
        font-family: 'Nosifer', cursive;
        font-size: 80px; 
        margin: 0;
        @media (max-width: 480px) {
            font-size: 35px;
        }
    }

    &__content {}
    
    &__button {}

}

.breadcrumbs { 
    color: #cccccc; 
    font-size: 10px;
    letter-spacing: 3px;
    margin-left: 15px;
}

.site-header {
    background-color: black;
    // Nav Module
    .nav {

        &__logo {
            text-align: center;
            display: block;

            img {
                max-width: 50px;
                display: inline;
                height: auto;
            }
        }

        &-list {
            margin-top: 25px;
            padding: 0;
            list-style: none;
            text-align: right;
            @media (max-width: 1030px) {
                text-align: center;
            }
            &__item {
                display: none;
                border-bottom: 1px solid white;
                padding: 7px;
                border-top: 1px solid white;
                &.active { text-decoration: underline; }
                a {
                    color: white;
                    margin-right: 20px;
                    font-size: 12px;
                    text-decoration: none;
                }

            }
        }

    }
}


.sidebar-nav {
    padding: 0;
    margin: 0;
    &__item {  
        list-style: none;
        text-decoration: none;
        padding: 0 0 5px 0;
        &--active { list-style: square; }
        a { 
            color: black; 
            text-decoration: none;
        }
    }
}


//Hover Module
.hover { 

    &__container { 
        position: relative; 
        display: inline-block;
        &.beltloops { float: right; }

        a { 
            display: block; 
            position: relative; 

            &:before { 
                content:'';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.4);
                transition: all .3s ease;
            }

            &:hover {

                &:before {
                    background-color: rgba(0, 0, 0, 0);
                }

            }
        }
    }

    &__description { 
        position: absolute;
        bottom: -5px;
        right: 15px;
        text-shadow: 1px 1px 6px #000000;

        &__main { 
            font-size: 30px; 
            margin: 0 0 10px 0;
            line-height: 1;
        }

        &__sub { 
            font-size: 15px;
            margin: 0;
        }

        &__last {
            margin: 0 0 10px 0;
            font-size: 12px;
        }

        p { color: white; }

    }

    &__block {
        width: 100%;
        padding: 10px;
        height: auto;
        background-color: rgba(255, 255, 255, .5);
        position: absolute;
        z-index: 2;
    }

    &__text {
        color: black;
        padding: 10px 0 0 0;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    &__shopnow { 
        font-size: 12px;
        text-align: center;
        margin: 0;
        padding: 0;
    }
}

//Images
.featured-products {
    text-align: center;    
    width: 100%;
    padding: 0;
}

.pendant { 
    width: 470px;
    height: auto; 
}

//Instagram Grid
.instagram {
    text-align: center;
    background-color: lightgray; 
    padding: 0 30px 30px 30px;
    &.title { padding: 25px 0; }
    h2 { 
        margin: 0;
        color: black;
        font-size: 40px;
    }

    &-text { 
        margin: 0;
        font-size: 22px;
    }

    &-list { 
        margin: 10px 0; 
        width: 2000px;
        height: 190px;
        &-container {
            width: 100%;
            height: 200px;
            overflow-x: auto;
            overflow-y: hidden;
            border: 1px solid #ADADAD;
        } 
        &__item {
            display: inline-block;
            padding: 0!important;
            margin: 5px;
            border: 2px solid white;
            img { width: 100% } 
        }
    }
}

// Slider
.instagram-carousel .slick-slide img { display: inline!important; }

//Footer Module
.footer {
    background-color: black;
    width: 100%;
    height: auto;
    color: white;
    padding: 10px 20px 10px 0;

    .social-list { 
        margin: 10px 0 0 0;
        &-item { display: inline-block; padding-right: 15px; }
        &-icon { max-width: 25px; }
    }

    p {
        font-size: 12px;
        margin-top: 10px;
        letter-spacing: .5px;
    }


    @media (min-width: 1024px) {
        .hero { 
            background-size: cover; 
            min-height: 800px;
            background-position: center center;
        }
        .site-header {
            // Nav Module
            .nav {
                &-list {
                    &__item {
                        margin-left: 35px;
                    }
                }

            }
        }
    }
}